<!DOCTYPE html>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<html>
  <head>

    <% include ../partials/head %>
    <link rel="stylesheet" href="/stylesheets/table.css">
    <link rel="stylesheet" href="/stylesheets/body.css">
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="/stylesheets/toggle2.css"> -->
  </head>
  <body>
    <div align="center">
    <header>
      <% include ../partials/header %>
    </header>

    <div class="posts">
      <% include partials/top%>

        <image src="/images/banner_main.png">

      <div class="index">

        <table class="table">
        <% if(user) {%>
          <tr>
            <td align="center"> <a href="/logout" class="float_right"><button>Logout</a>
                 <a href="/users/<%= user._id%>" class="float_right"><button>My Profile(<%=user.name%>)</button></a> </th>
          </tr>
        <%}else{%>
          <tr>
            <td align="center"> <a href="/login" class="float_right"><button>Login</a>
                 <a href="/users/new" class="float_right"><button>Sign up</a> </th>
          </tr>
        <%} %>
        </table>
<!--
      <video width="320" height="214" controls="controls" class="video-js vjs-default-skin" data-setup="{}">
        <source src="/videos/sample.mp4" type="video/mp4" />
      </video> -->
      <iframe src="http://192.168.1.100:8080/stream_simple.html/" align="center" frameborder="0" width="320" height="250" marginwidth="0" marginheight="0" scrolling="yes">
      </iframe>
      <div class="button">
        <a href="http://192.168.1.100:8080/static_simple.html" ><button> SnapShot </button> </a>
        <button> Save </button>
      </div>
      <!-- main start -->
        <!-- views/posts/index.ejs -->
          <!-- list table -->

          <table class="table">
            <thead>
              <th>TITLE</th>
              <th>CREATE DATE</th>
            </thead>
            <tbody>
            <% data.forEach(function(e){ %>
              <tr>
                <th>
                  <a href="/posts/<%=e._id %>"> <%= e.title %></a>
                </th>
                <td>
                  <%= e.createdAt.toLocaleDateString() %>
                </td>
              </tr>
            <% }) %>
            <!-- new button -->
            <tr>
              <td>
              </td>
              <td align="right">
                <a href="/posts/setting"><button>Setting</button></a>
                <a href="/posts/new"><button>New</button></a>
              </td>
            </tr> <!-- new button end -->
            </tbody>
          </table>
      <!-- </div> -->
        <!-- main end -->
    </div> <!-- posts end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </div> <!-- container end -->
  </div>
  </body>
</html>
