<!DOCTYPE html>
<html>
  <head>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet" />
    <% include ../partials/head %>
  </head>
  <body>
    <div align="center">
    <header>
      <link rel="stylesheet" href="/stylesheets/table.css">
      <% include ../partials/header %>
    </header>
    <div class="posts">
      <% include partials/top%>
      <image src="/images/banner_list.png">
      <!-- main start -->
      <div class="show">
        <video width="320" height="214" controls="controls" class="video-js vjs-default-skin" data-setup="{}">
          <source src="<%=data.path%>" type="video/mp4" />
        </video>
        <table class="table">
            <tbody>
              <tr>
                <th>TITLE</th>
                <td><%= data.title %></td>
              </tr>
              <tr>
                <div class="time">
                  <th>Create At</th>
                  <td> <%= data.createdAt.toLocaleDateString() %> <%= data.createdAt.toLocaleTimeString() %> </td>
                </div>
              </tr>
                <% if(data.updatedAt){ %>
              <tr>
                <div class="time">
                  <th>Update At</th>
                  <td> <%= data.updatedAt.toLocaleDateString() %> <%= data.updatedAt.toLocaleTimeString() %> </td>
                </div>
              </tr>
                <% } %>
              <tr>
                <th>DATA</th>
                <td> <p class="body"><%= data.path %><p> </td>
              </tr>
            </tbody>
          </table>

          <table border="0">
            <tbody align="right">
              <td>
                  <a href="/posts/list/<%=data._id%>/edit"><button>Edit</button></a>
              </td>
                  <!-- Delete button here -->
              <td>
                <div class="tools">
                  <form class="btn_delete" action="/posts/list/<%=data._id%>?_method=delete" method="post">
                    <button type="submit">Delete</button>
                  </form> <!-- Delete button end -->
                </div>
              </td>
              <td>
                <a href="/posts/list"><button>Back</button><a>
              </td>
            </tbody>
          </table>
        </div>
      <!-- main end -->
    </div> <!-- posts end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </div>
  </body>
</html>
